/* This code is for the banner
It sets the bg image, text-align, 
border and height. */
.span{
    background-image: url(https://i.pinimg.com/736x/81/0f/8d/810f8dbcd9533b1e80a0eca2270298c8.jpg);
    background-repeat: no-repeat;
    background-position-y: 70%;
    background-size: cover;
    border-color: rgba(240, 248, 255, 0.612);
    border-radius: 20px;
    height: 200px;
    width: auto;
    align-content: center;
    text-align: center;
}
/* This style is for the text on the banner.
The background pic is cliped to the text. */
#headings{
    color: transparent; /* Hide the text */
    background-image: url(https://i.pinimg.com/736x/94/5c/11/945c112ea108a5b8fbab2c3d0342d9b7.jpg);
    -webkit-background-clip: text; /* Clip the background to the text */
    background-clip: text;
    font-size: 40;
}
/* This sets the grid for the slideshows */
.container{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 35px;
    margin: 40px;
    place-items: center;
}
/* This sets the bg for the photo boxes.
Also sets the border, height, padding and alignment. */
.photos{
    background: linear-gradient(#ffffff1f,#eacefb11,#c4b8a410);
    font-family: 'Courier New', Courier, monospace;
    border-radius: 20px;
    border-width: 3px;
    border: solid #4140400e;
    padding: 20px;
    height: 250px;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
}
/* This sets the height and width to match the photos div */
.uaeimage, .pakimage, .kwtimage, .bahimage, .qatimage, .ksaimage{
    height: inherit;
    width: inherit;
    border-radius: 10px;
}
/* The forward and backwards buttons are styled here */
.w3-button{
    background-color: #6b00b31f;
    place-items: center;
    margin: 5px 10px 0px 10px;
    border-radius: 20px;
    height: 25px;
    width: 50px;
}